flask>=3.1,<4
flask-restful>=0.3.10,<1
flask-migrate>=4.1,<5
flask-sqlalchemy>=3.1,<4
flask-marshmallow>=1.3,<2
flask-jwt-extended>=4.7,<5
flask-cors>=6.0,<7
marshmallow>=4.0,<5
marshmallow-sqlalchemy>=1.4,<2
python-dotenv>=1.2,<2
passlib>=1.7,<2
apispec[yaml]>=6.8,<7
apispec-webframeworks>=1.2,<2
psycopg2-binary>=2.9,<3
gunicorn>=23.0,<24
